.font-geral{
    color:rgb(2, 104, 2);
 
    
}

.central{
position: relative;

 width: 60%;
 margin-left: 20%;
 margin-top:4px;
 z-index: 4;

}

.fotoH{
    margin-left: auto;
    margin-right: auto; 
    width: 95%;
   
}
.fotoV{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.playvideo{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;

}
.inputForm{
    background-color:rgb(190, 255, 190);
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
    padding-top: .8rem ;
    padding-bottom: .8rem;
    border-radius: 0.5rem;
}
.form{
   display: block;
   margin: auto;
    width: 55%;
}

.block1{
   position: relative;
    display: block;
}
.cor-texto{
     color: rgb(20, 97, 20);
}
.bt-contato{
    background-color:rgb(40, 173, 40);
    color: rgb(198, 240, 198);
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}
.bt-orcamento{
    
    text-align: center;
}
.bt{
    background-color:rgb(40, 173, 40);  
}
.align-contato{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
 }
 .whats_logo{
    position: relative;
    float: right;
    margin-top: -21px;
    margin-right: 34px;
    z-index: 5;
    width: 25px;
    height: 22px;
}

.backg{
    background-color:rgb(255, 175, 175);
 }

.margin-label{
    margin-left: 12px;
}


@media(max-width:678px){
    /* .menu{
        
        font-size: 9px;
    } */
    .font-geral{
        font-size: 8px;
    }
    .central{
        width: 100%;
        margin-left: 0;
    }

}